:root {
    --accent: #064ba5;
    --accent-dim: #33557e;
    --accent-glow: #064ba52e;
}



.dumb-row {
    position: relative;
    /* same width as canvas, so it scrolls with it */
    display: flex;
    height: 24px;
    padding-top: 4px;
}

.dumb-row .note {
    position: absolute;
    box-sizing: border-box;
    font-family: var(--font-mono);
    font-size: 12px;
    color: var(--text-dim);
}

.dumb-row .note::after {
    background-color: var(--accent);
    width: 2px;
    height: 12px;
    display: inline-flex;
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

.dumb-row .left {
    left: var(--start-key-cx);
    transform: translateX(-50%);
}

.dumb-row .right {
    left: var(--end-key-cx);
    transform: translateX(-50%);
}